<header>
  <h1>
    Welcome to Weather Report Dashboard!
    <small>We're using Rails <%= Rails.version %></small>
  </h1>
</header>

<section class="search-form">
  <%= form_for :weather_report, method: :get do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-4">
                <%= text_field_tag :city, nil, value: params[:city], placeholder: "City name, Geolocation, or Random", class: "form-control input-lg" %>
              </div>
              <div class="col-sm-4">
                <%= f.submit "By City", class: "btn btn-primary btn-lg" %>
              </div>
              <div class="col-sm-4">
                <%= f.submit "Random Location", class: "btn btn-primary btn-lg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>

<section class="search-results">
  <div class="row">
    <div class="weather-box">
      <header>
        <h1 class="h3">Weather Report</h1>
      </header>
      <% if @report.success? %>
        <div class="col-sm-6 col-md-offset-3 weather-bg">
          <div class="">
            <div class="pull-right temperature-container"> <%= image_tag @report.weather[:icon] %>
              <div class="degrees"><%= @report.weather[:temp].round %>°</div>
              <div class="time">as of <%= Time.now.strftime("%H:%M") %></div>
            </div>
              <h2 class="text-center">
                <% if @report.city.present? %>
                  <%= @report.city %>, <%= @report.country %>
                <% end %>
              </h2>
            <div class="text-center"><strong class="text-uppercase"><%= "#{@report.weather[:description]}" %></strong></div>
            <div class="text-center lat_lon">Lat: <%= @report.lat %> Lon: <%= @report.lon %></div>
            <div class="row">
              <div class="col-sm-6">
                <ul class="zebra-list">
                  <li><%= "Min #{@report.weather[:min]}° - Max #{@report.weather[:max]}°" %></li>
                  <li>Pressure: <%= @report.weather[:pressure] %> hpa</li>
                  <li> Humidity: <%= @report.weather[:humidity] %>%</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="zebra-list">
                  <li>Wind: S 6 mph</li>
                  <li>Dew Point: 45 deg</li>
                  <li>Visibility: 10.0 mi</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-sm-6 col-md-offset-3 weather-bg">
          <small class="text-uppercase">Error</small>
          <%= @report.code %> - <%= @report.message %>
        </div>
      <% end %>
    </div>
  </div>
</section>
