<section class="search-form">
  <%= form_for :weather_report, method: :get do |f| %>
    <div class="input-group input-group-lg">
      <%= label_tag :keywords, nil, class: "sr-only" %>
      <%= text_field_tag :city, nil, value: params[:city], placeholder: "City name, Geolocation, or Random", class: "form-control input-lg" %>
      <span class="input-group-btn">
        <%= submit_tag "Retrieve Report", class: "btn btn-primary btn-lg" %>
      </span>
    </div>
  <% end %>
</section>

<section class="search-results">
  <header>
    <h1 class="h3">Weather Report</h1>
  </header>
  <ol class="list-group">
    <li class="list-group-item clearfix" ng-repeat="customer in customers">
      <h3 class="pull-right">
        <small class="text-uppercase">Time</small>
        <%= Time.now %>
      </h3>
      <h2 class="h3">
        <%= @report["name"] %> <%= @report["sys"]["country"]%>
        <small>
          Lat: <%= @report["coord"]["lat"] %>
          Lon: <%= @report["coord"]["lon"] %>
        </small>
      </h2>

      <h4>Weather</h4>

      <small>
        <%= "#{@report["weather"][0]["main"]} - #{@report["weather"][0]["description"]}" %>
        <%= image_tag "http://openweathermap.org/img/w/" + @report["weather"][0]["icon"] + ".png"; %>
      </small>

      <h3>Temperature</h3>
      <small>
        <%= @report["main"]["temp"] %>
      </small>

      <h3>Min - Max</h3>
      <small>
        <%= "#{@report["main"]["temp_min"]} - #{@report["main"]["temp_max"]}" %>
      </small>

      <h3>Humidity and pressure</h3>
      <small>
        <%= "#{@report["main"]["humidity"]} - #{@report["main"]["pressure"]}" %>
      </small>
    </li>
  </ol>
</section>
